body {
  font-family: IRANSans !important;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: IRANSansBold, sans-serif;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2")
      format("woff2"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff")
      format("woff"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum).woff2")
      format("woff2"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum).woff")
      format("woff"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum).ttf")
      format("truetype");
}
.swiper {
  width: 40%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.swiper-initialized {
  display: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-slide {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .show-slide {
    width: 100%;
    margin: 0 auto;
  }
}
